{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "printWidth": 140,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "proseWrap": "preserve"
}